div.center {
	text-align: center;
}

.post-content {
	h1 { font-size: 24px; }
	h2 { font-size: 20px; }
	h3 { font-size: 16px; }

	li { 
		margin-bottom: 2ex; 
		margin-top: 2ex; 
	}
}

/**
 * Pagination navbar
 */
.pager {
	text-align: center;
}
.pagination {
	margin-bottom: $spacing-unit;
	@extend .social-media-list;
	li {
		display: inline;
		a, div {
			min-width: 41px;
			text-align: center;
			box-sizing: border-box;
		}
		div {
			display: inline-block;
			padding: $spacing-unit * .25;
			border: 1px solid transparent;

			&.pager-edge {
				/** color: $border-color-01; */
				border: 0px;
			}
		}
	}
}
